<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="/">TORTECH</a>
    </div>
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
       <li><a href="/courses">Browse</a></li>
       <% if (!user) { %>

       <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">Signup / Login</a>
        <ul class="dropdown-menu">
          <li><a href="/signup">Signup</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
       </li>
       <% } else { %>
        <% if (user.role==="teacher") { %>
          <li><a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" 
          aria-haspopup="true" aria-expanded="false"> Instructor</a>
            <ul class="dropdown-menu">
              <li><a href="/teacher/dashboard">Instructor's Dashboard</a></li>
              <li><a href="/revenue-report">Revenue Report</a></li>
            </ul>
          </li>
      <% } else { %>
        <li><a href="/become-an-instructor">Become an Instructor</a></li>
       <% } %>
      
      <li><a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= user.profile.name %></a>
        <ul class="dropdown-menu">
          <li><a href="/profile">Profile</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </li>
      <% } %>

    </ul>



  </div>
</nav>
