<% layout('layout') -%>



<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" id="navbar-gap">
  <div class="container">
    <h1> Welcome to Tortech Online School</h1>
    <p>Get everything you need ranging from Technology, Jamb/Waec preparations and more...</p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h3>Learn how to build a website</h3>
      <p>Click browse to continue</p>
    </div>
    <div class="col-md-4">
      <h3>Get Waec, Neco and jamb past questions and tutorials</h3>
      <p>Click here to continue</p>

   </div>
    <div class="col-md-4">
      <h3>Learn how to build desktop and android apps </h3>
      <p>Click here to continue</p>
    </div>
  </div>
